@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
  }
  .container {
    max-width: 1300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: justify; 
  }


  h1 {
    text-align: justify;
    font-family: 'Oswald';
    margin-bottom: 20px;
    padding-left: 30px;
  }
  h2 {
    text-align: justify;
    font-family: 'Oswald';
    font-size: 25px;
    padding-left: 30px;
    margin-bottom: 5px;
  }
  p {
    line-height: 1.6;
    margin-bottom: 7px;
    font-size: 18px;
    font-family: 'Lato';
    padding: 7px 30px;
  }
  b {
    font-weight: 700px;
    font-size: 1.2rem;
  }
  img {
    display: block; 
    margin: 20px auto 20px;
    width: 800px; 
  }

  .unorder {
    list-style-position: outside;
    list-style: circle;
    margin-left: 60px;
    text-align: justify;
    line-height: 1.5;
  }


/* header */
#header {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#header .header {
	width: 100vw;
	height: 120px;
}

#header .cht img {
	 width: 200px;
    margin: 0px;
    margin-left: 70px;
    cursor: pointer;
}
/* end of header */



/* Footer */
#footer .container{
    max-width: 1470px;
    margin:auto;
  }
  #footer .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
  }
  #footer ul{
    list-style: none;
  }
  #footer{
    background-color: #29323c;
    padding: 20px 0;
    width: 100vw;
  }
  #footer .footer-col{
     width: 30%;
     padding: 0 15px;
  }
  #footer .footer-col h4{
    font-size: 28px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  #footer .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  #footer .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  #footer .footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  #footer .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  #footer .footer-col .social-links a{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  #footer .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  #footer .footer-col .social-links i {
    margin-top: 17px;
  }
  #footer .footer__bar {
    position: relative;
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 500;
    color: #bbbbbb;
    text-align: center;
    overflow: hidden;
    }
    #footer .footer__bar::before {
    position: absolute;
    content: "";
    top: 20%;
    right: 10px;
    transform: translateY(-50%);
    width: 100vw;
    height: 1px;
    background-color: #bbbbbb;
    }
  /* End of Footer */


  /* Media query for screens 768px and below */
  @media (max-width: 768px) {
    .container {
      padding: 10px; 
    }

    img {
        width: 100%; 
        margin: 20px auto; 
      }

      #footer .container {
        max-width: 100%;
        padding: 0 20px;
    }
    #footer .row {
        margin-left: 0;
    }
    #footer .footer-col {
        width: 100%;
    }
 
  }
/* End Media query for screens 768px and below */
